@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #7F7B82;
    background-image: linear-gradient(to bottom, #7F7B82, hsl(274, 3%, 30%), #444554);
    display: flex;
    flex-direction: column;
}

header,
footer {
    background-color: #172121;
    color: whitesmoke;
    text-align: center;
}

header {
    position: sticky;
    top: 0;
}

footer {
    position: sticky;
    bottom: 0;
}

nav {
    border-bottom: 2px solid black;
    padding: 0.5rem;
    font-weight: bolder;
    display: flex;
    justify-content: space-evenly;
}

nav a,
nav a:visited {
    color: whitesmoke;
}

nav a:hover,
nav a:focus {
    color: rgba(245, 245, 245, 0.52);
}

main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
}

.card {
    border: 1px solid black;
    width: min(100%, 350px);
    border-radius: 15px;
    background-color: #BFACB5;
    display: flex;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

figure img {
    min-width: 20vw;
    height: auto;
    border: 2px double black;
}